In [1]:
import pandas as pd
df = pd.read_csv('Student Expenditure Survey.csv')
df.head()

,Location,Monthly Toiletries expenses in INR,Mobile recharge per month (for you single handedly),Charges of Wi-Fi at home per month,Average cost of Electricity per month for a single person,Entertainment subscriptions,Average bill for Water per month per person,Laundry Service,Rent of PG/Apartment per month (SKIP if necessary),Modes of commuting for college,Canteen Expenses,Leisure Expenses like Shopping per month
0,Gururgram,300 - 600,200 - 500,800,1500,Netflix;Amazon Prime;Disney/Hotstar;Cable TV,1000,No,NaN,Scooty / Motor Bike;Carpool,1000 - 1500,2000.0
1,Gururgram,600 - 900,200 - 500,500,500,Cable TV,1000,No,NaN,Cab services,NaN,500.0
2,Gururgram,600 - 900,100 - 200,800,1500,Netflix;Amazon Prime;Cable TV,1000,Yes,NaN,Cab services,100 - 300,1500.0
3,Delhi,100 - 300,200 - 500,500,2000,Amazon Prime;YouTube Premium;Spotify Premium;C...,500,No,8001 - 10000,Walking,NaN,5000.0
4,Gururgram,300 - 600,200 - 500,800,1000,Cable TV,500,No,NaN,Cab services,1000 - 1500,500.0

In [2]:
df['Leisure Expenses like Shopping per month'].fillna(0, inplace=True)

In [3]:
df['Rent of PG/Apartment per month (SKIP if necessary)'].fillna(0,inplace=True)

In [4]:
df['Canteen Expenses'].fillna(0,inplace=True)

In [5]:
df['Entertainment subscriptions'].fillna(0,inplace=True)

In [6]:
data = df
data

,Location,Monthly Toiletries expenses in INR,Mobile recharge per month (for you single handedly),Charges of Wi-Fi at home per month,Average cost of Electricity per month for a single person,Entertainment subscriptions,Average bill for Water per month per person,Laundry Service,Rent of PG/Apartment per month (SKIP if necessary),Modes of commuting for college,Canteen Expenses,Leisure Expenses like Shopping per month
0,Gururgram,300 - 600,200 - 500,800,1500,Netflix;Amazon Prime;Disney/Hotstar;Cable TV,1000,No,0,Scooty / Motor Bike;Carpool,1000 - 1500,2000.0
1,Gururgram,600 - 900,200 - 500,500,500,Cable TV,1000,No,0,Cab services,0,500.0
2,Gururgram,600 - 900,100 - 200,800,1500,Netflix;Amazon Prime;Cable TV,1000,Yes,0,Cab services,100 - 300,1500.0
3,Delhi,100 - 300,200 - 500,500,2000,Amazon Prime;YouTube Premium;Spotify Premium;C...,500,No,8001 - 10000,Walking,0,5000.0
4,Gururgram,300 - 600,200 - 500,800,1000,Cable TV,500,No,0,Cab services,1000 - 1500,500.0
5,Gururgram,100 - 300,100 - 200,1500,500,Netflix;Disney/Hotstar,1000,No,0,Cab services,500 - 1000,1000.0
6,Gururgram,300 - 600,200 - 500,1500,1500,Netflix;Amazon Prime;Disney/Hotstar;Cable TV,500,No,0,Cab services,300 - 500,500.0
7,Delhi,300 - 600,200 - 500,500,500,Netflix;Amazon Prime;Disney/Hotstar;Cable TV,500,Yes,0,Metro,500 - 1000,1500.0
8,Gururgram,100 - 300,50 - 100,500,1000,Disney/Hotstar,500,No,0,Cab services,100 - 300,7500.0
9,Delhi,>900,200 - 500,1500,1500,Netflix;Amazon Prime;Disney/Hotstar;Spotify Pr...,500,Yes,8001 - 10000,Walking;Metro,>1500,9000.0
10,Gururgram,100 - 300,100 - 200,500,1500,Amazon Prime,500,No,6000 - 8000,Walking;Cab services,1000 - 1500,1500.0
11,Gururgram,100 - 300,200 - 500,800,2000,Netflix;Amazon Prime;Disney/Hotstar;YouTube Pr...,500,No,10001 - 12000,Walking,100 - 300,2000.0
12,Gururgram,100 - 300,200 - 500,800,1000,Amazon Prime;Cable TV,500,No,6000 - 8000,Carpool,100 - 300,2000.0
13,Gururgram,300 - 600,100 - 200,800,1000,Amazon Prime;Cable TV,500,No,0,Walking;Carpool,0,0.0
14,Gururgram,300 - 600,200 - 500,1500,1000,Netflix;Amazon Prime;Disney/Hotstar;YouTube Pr...,500,No,0,Scooty / Motor Bike,100 - 300,0.0
15,Gururgram,300 - 600,200 - 500,500,1000,Netflix;Amazon Prime;Disney/Hotstar;Cable TV,500,No,6000 - 8000,Scooty / Motor Bike,300 - 500,0.0
16,Gururgram,100 - 300,100 - 200,800,1000,Cable TV,500,No,0,Scooty / Motor Bike,0,300.0
17,Delhi,100 - 300,200 - 500,800,500,Cable TV,500,Yes,0,Cab services,100 - 300,1000.0
18,Gururgram,600 - 900,200 - 500,500,2000,Netflix;Amazon Prime;Disney/Hotstar,2000,No,0,Cab services,100 - 300,2000.0
19,Gururgram,300 - 600,200 - 500,800,1000,Disney/Hotstar,2000,No,0,Scooty / Motor Bike,100 - 300,10000.0
20,Delhi,300 - 600,200 - 500,500,2000,Netflix;Amazon Prime;Disney/Hotstar;YouTube Pr...,500,No,0,Scooty / Motor Bike;Carpool;Cab services;Metro,1000 - 1500,3000.0

In [7]:
def freq_str(s,target):
    count=0
    for i in s:
        if target==i:
            count+=1
    return count

In [11]:
freq_str('abababbabaaaaaa','b')

5

In [14]:
def fun(variable):
    a=list()
    for i in variable:
        
        if i=='' or i==None:
            a.append('')
        else:
            a.append(freq_str(i,';')+1)
    return a
#     df[variable].replace(a,inplace=True)
#     variable = a.values

In [15]:
new = fun(df['Entertainment subscriptions'])

In [17]:
type(new)

list

In [18]:
df['Entertainment subscriptions'] = new

In [20]:
df['Modes of commuting for college'] = fun(df['Modes of commuting for college'])

In [21]:
df

,Location,Monthly Toiletries expenses in INR,Mobile recharge per month (for you single handedly),Charges of Wi-Fi at home per month,Average cost of Electricity per month for a single person,Entertainment subscriptions,Average bill for Water per month per person,Laundry Service,Rent of PG/Apartment per month (SKIP if necessary),Modes of commuting for college,Canteen Expenses,Leisure Expenses like Shopping per month
0,Gururgram,300 - 600,200 - 500,800,1500,4,1000,No,0,2,1000 - 1500,2000.0
1,Gururgram,600 - 900,200 - 500,500,500,1,1000,No,0,1,0,500.0
2,Gururgram,600 - 900,100 - 200,800,1500,3,1000,Yes,0,1,100 - 300,1500.0
3,Delhi,100 - 300,200 - 500,500,2000,4,500,No,8001 - 10000,1,0,5000.0
4,Gururgram,300 - 600,200 - 500,800,1000,1,500,No,0,1,1000 - 1500,500.0
5,Gururgram,100 - 300,100 - 200,1500,500,2,1000,No,0,1,500 - 1000,1000.0
6,Gururgram,300 - 600,200 - 500,1500,1500,4,500,No,0,1,300 - 500,500.0
7,Delhi,300 - 600,200 - 500,500,500,4,500,Yes,0,1,500 - 1000,1500.0
8,Gururgram,100 - 300,50 - 100,500,1000,1,500,No,0,1,100 - 300,7500.0
9,Delhi,>900,200 - 500,1500,1500,5,500,Yes,8001 - 10000,2,>1500,9000.0
10,Gururgram,100 - 300,100 - 200,500,1500,1,500,No,6000 - 8000,2,1000 - 1500,1500.0
11,Gururgram,100 - 300,200 - 500,800,2000,4,500,No,10001 - 12000,1,100 - 300,2000.0
12,Gururgram,100 - 300,200 - 500,800,1000,2,500,No,6000 - 8000,1,100 - 300,2000.0
13,Gururgram,300 - 600,100 - 200,800,1000,2,500,No,0,2,0,0.0
14,Gururgram,300 - 600,200 - 500,1500,1000,6,500,No,0,1,100 - 300,0.0
15,Gururgram,300 - 600,200 - 500,500,1000,4,500,No,6000 - 8000,1,300 - 500,0.0
16,Gururgram,100 - 300,100 - 200,800,1000,1,500,No,0,1,0,300.0
17,Delhi,100 - 300,200 - 500,800,500,1,500,Yes,0,1,100 - 300,1000.0
18,Gururgram,600 - 900,200 - 500,500,2000,3,2000,No,0,1,100 - 300,2000.0
19,Gururgram,300 - 600,200 - 500,800,1000,1,2000,No,0,1,100 - 300,10000.0
20,Delhi,300 - 600,200 - 500,500,2000,7,500,No,0,4,1000 - 1500,3000.0

In [26]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
def split(s):
    avg=s.split(' - ')
    avg = list(map(int,avg))
    avg=np.mean(avg)
#     print(avg)
    return avg

In [44]:
split('200 - 500')

350.0

In [63]:
def wow(variable):
    b=list()
    for i in variable:
        b.append(split(i))
    return b

In [59]:
df.replace('>900','900 - 900',inplace=True)

In [60]:
data=df
data

,Location,Monthly Toiletries expenses in INR,Mobile recharge per month (for you single handedly),Charges of Wi-Fi at home per month,Average cost of Electricity per month for a single person,Entertainment subscriptions,Average bill for Water per month per person,Laundry Service,Rent of PG/Apartment per month (SKIP if necessary),Modes of commuting for college,Canteen Expenses,Leisure Expenses like Shopping per month
0,Gururgram,300 - 600,200 - 500,800,1500,4,1000,No,0,2,1000 - 1500,2000.0
1,Gururgram,600 - 900,200 - 500,500,500,1,1000,No,0,1,0,500.0
2,Gururgram,600 - 900,100 - 200,800,1500,3,1000,Yes,0,1,100 - 300,1500.0
3,Delhi,100 - 300,200 - 500,500,2000,4,500,No,8001 - 10000,1,0,5000.0
4,Gururgram,300 - 600,200 - 500,800,1000,1,500,No,0,1,1000 - 1500,500.0
5,Gururgram,100 - 300,100 - 200,1500,500,2,1000,No,0,1,500 - 1000,1000.0
6,Gururgram,300 - 600,200 - 500,1500,1500,4,500,No,0,1,300 - 500,500.0
7,Delhi,300 - 600,200 - 500,500,500,4,500,Yes,0,1,500 - 1000,1500.0
8,Gururgram,100 - 300,50 - 100,500,1000,1,500,No,0,1,100 - 300,7500.0
9,Delhi,900 - 900,200 - 500,1500,1500,5,500,Yes,8001 - 10000,2,>1500,9000.0
10,Gururgram,100 - 300,100 - 200,500,1500,1,500,No,6000 - 8000,2,1000 - 1500,1500.0
11,Gururgram,100 - 300,200 - 500,800,2000,4,500,No,10001 - 12000,1,100 - 300,2000.0
12,Gururgram,100 - 300,200 - 500,800,1000,2,500,No,6000 - 8000,1,100 - 300,2000.0
13,Gururgram,300 - 600,100 - 200,800,1000,2,500,No,0,2,0,0.0
14,Gururgram,300 - 600,200 - 500,1500,1000,6,500,No,0,1,100 - 300,0.0
15,Gururgram,300 - 600,200 - 500,500,1000,4,500,No,6000 - 8000,1,300 - 500,0.0
16,Gururgram,100 - 300,100 - 200,800,1000,1,500,No,0,1,0,300.0
17,Delhi,100 - 300,200 - 500,800,500,1,500,Yes,0,1,100 - 300,1000.0
18,Gururgram,600 - 900,200 - 500,500,2000,3,2000,No,0,1,100 - 300,2000.0
19,Gururgram,300 - 600,200 - 500,800,1000,1,2000,No,0,1,100 - 300,10000.0
20,Delhi,300 - 600,200 - 500,500,2000,7,500,No,0,4,1000 - 1500,3000.0

In [68]:
df['Monthly Toiletries expenses in INR']=wow(df['Monthly Toiletries expenses in INR')])

In [68]:
df['Mobile recharge per month (for you single handedly)']=wow(df['Mobile recharge per month (for you single handedly)'])

In [86]:
df['Rent of PG/Apartment per month (SKIP if necessary)']=wow(df['Rent of PG/Apartment per month (SKIP if necessary)'])

AttributeError: 'float' object has no attribute 'split'

In [84]:
df.to_csv('Latest.csv')

In [87]:
df

,Location,Monthly Toiletries expenses in INR,Mobile recharge per month (for you single handedly),Charges of Wi-Fi at home per month,Average cost of Electricity per month for a single person,Entertainment subscriptions,Average bill for Water per month per person,Laundry Service,Rent of PG/Apartment per month (SKIP if necessary),Modes of commuting for college,Canteen Expenses,Leisure Expenses like Shopping per month
0,Gururgram,450.0,350.0,800,1500,4,1000,No,0.0,2,1000 - 1500,2000.0
1,Gururgram,750.0,350.0,500,500,1,1000,No,0.0,1,0,500.0
2,Gururgram,750.0,150.0,800,1500,3,1000,Yes,0.0,1,100 - 300,1500.0
3,Delhi,200.0,350.0,500,2000,4,500,No,9000.5,1,0,5000.0
4,Gururgram,450.0,350.0,800,1000,1,500,No,0.0,1,1000 - 1500,500.0
5,Gururgram,200.0,150.0,1500,500,2,1000,No,0.0,1,500 - 1000,1000.0
6,Gururgram,450.0,350.0,1500,1500,4,500,No,0.0,1,300 - 500,500.0
7,Delhi,450.0,350.0,500,500,4,500,Yes,0.0,1,500 - 1000,1500.0
8,Gururgram,200.0,75.0,500,1000,1,500,No,0.0,1,100 - 300,7500.0
9,Delhi,900.0,350.0,1500,1500,5,500,Yes,9000.5,2,>1500,9000.0
10,Gururgram,200.0,150.0,500,1500,1,500,No,7000.0,2,1000 - 1500,1500.0
11,Gururgram,200.0,350.0,800,2000,4,500,No,11000.5,1,100 - 300,2000.0
12,Gururgram,200.0,350.0,800,1000,2,500,No,7000.0,1,100 - 300,2000.0
13,Gururgram,450.0,150.0,800,1000,2,500,No,0.0,2,0,0.0
14,Gururgram,450.0,350.0,1500,1000,6,500,No,0.0,1,100 - 300,0.0
15,Gururgram,450.0,350.0,500,1000,4,500,No,7000.0,1,300 - 500,0.0
16,Gururgram,200.0,150.0,800,1000,1,500,No,0.0,1,0,300.0
17,Delhi,200.0,350.0,800,500,1,500,Yes,0.0,1,100 - 300,1000.0
18,Gururgram,750.0,350.0,500,2000,3,2000,No,0.0,1,100 - 300,2000.0
19,Gururgram,450.0,350.0,800,1000,1,2000,No,0.0,1,100 - 300,10000.0
20,Delhi,450.0,350.0,500,2000,7,500,No,0.0,4,1000 - 1500,3000.0

In [81]:
df['Rent of PG/Apartment per month (SKIP if necessary)'].replace(0,'0 - 0',inplace=True)

In [95]:
df

,Location,Monthly Toiletries expenses in INR,Mobile recharge per month (for you single handedly),Charges of Wi-Fi at home per month,Average cost of Electricity per month for a single person,Entertainment subscriptions,Average bill for Water per month per person,Laundry Service,Rent of PG/Apartment per month (SKIP if necessary),Modes of commuting for college,Canteen Expenses,Leisure Expenses like Shopping per month
0,Gururgram,450.0,350.0,800,1500,4,1000,No,0.0,2,1000 - 1500,2000.0
1,Gururgram,750.0,350.0,500,500,1,1000,No,0.0,1,0 - 0,500.0
2,Gururgram,750.0,150.0,800,1500,3,1000,Yes,0.0,1,100 - 300,1500.0
3,Delhi,200.0,350.0,500,2000,4,500,No,9000.5,1,0 - 0,5000.0
4,Gururgram,450.0,350.0,800,1000,1,500,No,0.0,1,1000 - 1500,500.0
5,Gururgram,200.0,150.0,1500,500,2,1000,No,0.0,1,500 - 1000,1000.0
6,Gururgram,450.0,350.0,1500,1500,4,500,No,0.0,1,300 - 500,500.0
7,Delhi,450.0,350.0,500,500,4,500,Yes,0.0,1,500 - 1000,1500.0
8,Gururgram,200.0,75.0,500,1000,1,500,No,0.0,1,100 - 300,7500.0
9,Delhi,900.0,350.0,1500,1500,5,500,Yes,9000.5,2,1500 - 1500,9000.0
10,Gururgram,200.0,150.0,500,1500,1,500,No,7000.0,2,1000 - 1500,1500.0
11,Gururgram,200.0,350.0,800,2000,4,500,No,11000.5,1,100 - 300,2000.0
12,Gururgram,200.0,350.0,800,1000,2,500,No,7000.0,1,100 - 300,2000.0
13,Gururgram,450.0,150.0,800,1000,2,500,No,0.0,2,0 - 0,0.0
14,Gururgram,450.0,350.0,1500,1000,6,500,No,0.0,1,100 - 300,0.0
15,Gururgram,450.0,350.0,500,1000,4,500,No,7000.0,1,300 - 500,0.0
16,Gururgram,200.0,150.0,800,1000,1,500,No,0.0,1,0 - 0,300.0
17,Delhi,200.0,350.0,800,500,1,500,Yes,0.0,1,100 - 300,1000.0
18,Gururgram,750.0,350.0,500,2000,3,2000,No,0.0,1,100 - 300,2000.0
19,Gururgram,450.0,350.0,800,1000,1,2000,No,0.0,1,100 - 300,10000.0
20,Delhi,450.0,350.0,500,2000,7,500,No,0.0,4,1000 - 1500,3000.0

In [93]:
df['Canteen Expenses'].replace('>1500','1500 - 1500', inplace=True)

In [94]:
df['Canteen Expenses'].replace(0,'0 - 0', inplace=True)

In [96]:
df['Canteen Expenses']=wow(df['Canteen Expenses'])

In [97]:
df

,Location,Monthly Toiletries expenses in INR,Mobile recharge per month (for you single handedly),Charges of Wi-Fi at home per month,Average cost of Electricity per month for a single person,Entertainment subscriptions,Average bill for Water per month per person,Laundry Service,Rent of PG/Apartment per month (SKIP if necessary),Modes of commuting for college,Canteen Expenses,Leisure Expenses like Shopping per month
0,Gururgram,450.0,350.0,800,1500,4,1000,No,0.0,2,1250.0,2000.0
1,Gururgram,750.0,350.0,500,500,1,1000,No,0.0,1,0.0,500.0
2,Gururgram,750.0,150.0,800,1500,3,1000,Yes,0.0,1,200.0,1500.0
3,Delhi,200.0,350.0,500,2000,4,500,No,9000.5,1,0.0,5000.0
4,Gururgram,450.0,350.0,800,1000,1,500,No,0.0,1,1250.0,500.0
5,Gururgram,200.0,150.0,1500,500,2,1000,No,0.0,1,750.0,1000.0
6,Gururgram,450.0,350.0,1500,1500,4,500,No,0.0,1,400.0,500.0
7,Delhi,450.0,350.0,500,500,4,500,Yes,0.0,1,750.0,1500.0
8,Gururgram,200.0,75.0,500,1000,1,500,No,0.0,1,200.0,7500.0
9,Delhi,900.0,350.0,1500,1500,5,500,Yes,9000.5,2,1500.0,9000.0
10,Gururgram,200.0,150.0,500,1500,1,500,No,7000.0,2,1250.0,1500.0
11,Gururgram,200.0,350.0,800,2000,4,500,No,11000.5,1,200.0,2000.0
12,Gururgram,200.0,350.0,800,1000,2,500,No,7000.0,1,200.0,2000.0
13,Gururgram,450.0,150.0,800,1000,2,500,No,0.0,2,0.0,0.0
14,Gururgram,450.0,350.0,1500,1000,6,500,No,0.0,1,200.0,0.0
15,Gururgram,450.0,350.0,500,1000,4,500,No,7000.0,1,400.0,0.0
16,Gururgram,200.0,150.0,800,1000,1,500,No,0.0,1,0.0,300.0
17,Delhi,200.0,350.0,800,500,1,500,Yes,0.0,1,200.0,1000.0
18,Gururgram,750.0,350.0,500,2000,3,2000,No,0.0,1,200.0,2000.0
19,Gururgram,450.0,350.0,800,1000,1,2000,No,0.0,1,200.0,10000.0
20,Delhi,450.0,350.0,500,2000,7,500,No,0.0,4,1250.0,3000.0

In [98]:
df.to_csv('Clean_Data.csv')

In [99]:
df['Average bill for Water per month per person'].replace('Yes',1)
df['Average bill for Water per month per person'].replace('No',0)

0     1000
1     1000
2     1000
3      500
4      500
5     1000
6      500
7      500
8      500
9      500
10     500
11     500
12     500
13     500
14     500
15     500
16     500
17     500
18    2000
19    2000
20     500
Name: Average bill for Water per month per person, dtype: int64